# Dependências do Node
/node_modules

# Variáveis de ambiente
.env

# Logs do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Informações de IDE e Sistema Operacional
.vscode/        # Se você usa VS Code
.idea/          # Se você usa WebStorm/IntelliJ
.DS_Store       # Arquivos de sistema do macOS
Thumbs.db       # Arquivos de sistema do Windows